<div id="domain-alert-container" style="display:none" class="mt-3 px-5">
    <div id="domain-alert" class="alert alert-warning alert-dismissible mx-auto" style="max-width:1000px;"
        role="alert">
        We've moved! Please note that the documentation for
        <i>dash-bootstrap-components</i> is now hosted at
        <a href="/">dash-bootstrap-components.com</a>. Update your bookmarks!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
